$whiteClr: #ffffff;
$blackClr: #000000;
$textClr: #2b2b2b;
$textClrTwo: #202020;
$textClrThree: #c5c5c5;
$borderClr: #dedede;
$borderClrTwo: #ced4da;
$borderClrThree: #ebebeb;
$bgOne: #f7f7f7;
$blueClr: #3264f5;
$redClr: #ec3737;