.btn {
  position: relative;
  padding: 8px 30px;
  display: inline-block;
  font-size: 1em;
  text-decoration: none;
  transition: .5s ease;
  z-index: 11;

  &:focus,
  &.focus {
    box-shadow: none;
    outline: 0;
    color: inherit;
    text-decoration: none;
  }

  &.btnMain {
    color: $blackClr;
    border-color: $blackClr;
  
    &:hover {
      color: $whiteClr;
      background-color: $blackClr;
    }
  }
  
  &.btnInverse {
    color: $whiteClr;
    background-color: $blackClr;
    border-color: $blackClr;
  
    &:hover {
      color: $whiteClr;
      background-color: $redClr;
      border-color: $redClr;
    }
  }
}